<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>LOG IN</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="../static/CSS/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form class="login" method="POST" action="{{url_for('login')}}">
    <h1>登录</h1>
    <div class="content">
      <div class="input-field">
        <input type="username" name = "username" placeholder="Username" autocomplete="nope">
      </div>
      <div class="input-field">
        <input type="password" name = "password" placeholder="Password" autocomplete="new-password">
      </div>
      <div class="input-field">
        <input type="email" name = "email" placeholder="Email" autocomplete="Your Email">
      </div>
      <a href="{{url_for('send_email')}}" class="link">忘记密码?</a>
    </div>
    <div class="action">
      <button>完成</button>
    </div>
  </form>
  <div class="action2">
  <a href = "{{url_for('register')}}">
    <button>注册账号</button>
  </a>
  </div>
  <br>
  {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p> {{message}}</p>
                {% endfor %}
            {% endif %}
  {% endwith %}

</div>
<!-- partial -->
  <script  src="../static/script/script.js"></script>

</body>
</html>


