<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <title>reset ps</title>
    <link rel="stylesheet" href="../static/CSS/reset_password.css">
</head>

<body>
    <form method = "post">
        <div class="wrapper">
            <div class="input-data">
                <input type="text"  name="new_password">
                <div class="underline"></div>
                <label>你的新密码</label>
            </div> 

        </div>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p> {{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

</body>